*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(168.44deg, #2e335a 1.62%, #1c1333 95.72%);
}

.app{
    padding: 10px;
}

.app-container{
    max-width: 600px;
    margin: auto;
}

.header{
    padding: 20px 0;
}

.header h1{
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 2px;
}

footer{
    position: fixed;
    bottom: -16px;
    text-align: center;
}

.search-section{
    margin: 20px;
}

.search-container{
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 10px 8px;
    background: linear-gradient(168.44deg, #2e335a 1.62%, #1c1333 95.72%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 10px;
}

.search-container svg{
    width: 22px;
    height: 22px;
}

.search-container input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
}

.weather-section{
    margin-top: 50px;
    padding: 10px;
}

.weather-card{
    width: 100%;
    min-height: 184px;
    background: linear-gradient(90deg, #5963b4, #362a84 103.55%);
    border-radius: 20px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.weather-temp-c{
    font-size: 64px;
    font-weight: 400;
}

.weather-info{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #bbbbbb;
}

.weather-place{
    font-size: 22px;
}

.weather-avatar{
    position: absolute;
    top: -60px;
    right: -15px;
}